<div class="container design">
    <div class="row">
      <div class="col shadow">
        <h2>Real-time Data Monitoring</h2>
    </div>
    </div>
    
  <div class="row">
    <div class="col shadow">
      <router-outlet></router-outlet>
    </div>
    <div class="col shadow">
      <router-outlet name="table"></router-outlet>
    </div>
  </div>
  <div class="row" style="margin-bottom: 4rem;">
    <div class="col shadow">
      <router-outlet name="pie-graph"></router-outlet>
    </div>
  </div>
</div>