<div class="container">
  <div class="row">
    <div class="col shadow">
      <h2>Real-time Data Monitoring</h2>
      <router-outlet name="time"></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col shadow">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="row">
        <div class="col shadow">
          <router-outlet name="total"></router-outlet>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col shadow">
          <router-outlet name="table"></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 2rem;">
    <div class="shadow"
      style="background-color: mediumspringgreen;margin-left: 0rem;margin-right: 0rem; margin-top:2rem;margin-bottom:1rem;">
      <h3 class="text-center" style="color: #1b1e27;">Analytics</h3>
    </div>
    <div class="row" style="margin-top:1rem;">

      <div class="col shadow">
        <router-outlet name="chart"></router-outlet>
      </div>
      <div class="col shadow">
        <router-outlet name="polar"></router-outlet>
      </div>
    </div>
  </div>
</div>